<ons-dialog cancelable>
    <ons-list>
        <ons-list-item modifier="nodivider">
            <header>
                <span>{{appController.localization.pray_item_view_item_settings_header_change_font_size}}</span>
            </header>
        </ons-list-item>
        <ons-list-item modifier="nodivider">
            <div class="left">
                <span style="font-size: 12px">A</span>
                <ons-range ng-model="scaling" ng-change="praySettings.saveScaling(scaling)" modifier="material" value="70"></ons-range>
                <span style="font-size: 20px">A</span>&nbsp;
            </div>
        </ons-list-item>
        <ons-list-item>
            <header>
                {{appController.localization.pray_item_view_item_settings_header_table_of_contents}}
            </header>
        </ons-list-item>
        <ons-list-item ng-repeat="pray in prayItem.prays" modifier="nodivider" ng-click="praySettings.scrollToItem(pray.id)">
            <div class="left">
                <span>{{pray.name}}</span>
            </div>
        </ons-list-item>
        <div class="alert-dialog-footer">
            <button class="alert-dialog-button" ng-click="praySettings.closePraySettingsDialog()">{{appController.localization.pray_item_view_item_settings_btn_close}}</button>
        </div>
    </ons-list>
</ons-dialog>