<ons-list style="margin-top: 10px">
    <ons-list-item class="list-row" ng-repeat="prayItem in prayItemsList">
        <ons-row>
            <label class="checkbox checkbox--list-item" ng-show="prAddOrRemoveFavoriteFn">
                <input type="checkbox" class="checkbox__input"
                       ng-change="prAddOrRemoveFavoriteFn(prayItem.id)" ng-model="prayItem.isFavorite">
                <div class="checkbox__checkmark
        checkbox--list-item__checkmark"></div>
            </label>
            <ons-col ng-click="prOnItemClickFn(prayItem.id)" style="margin-left: 10px">
                <header>
                    <span class="item-title">{{prayItem.name}}</span>
                </header>
            </ons-col>
        </ons-row>
    </ons-list-item>
</ons-list>