<ons-page class="prayitem-list-page" ng-controller="FavoritePraysListController as favoritePraysList">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center navigation-bar-text">{{appController.localization.choosen_prays}}</div>
    </ons-toolbar>
    <prays-list ng-if="favoritePraysList.favoritePrays.length > 0"
                pr-items="favoritePraysList.favoritePrays"
                pr-on-item-click-fn="favoritePraysList.showFavoritePray"></prays-list>

    <div ng-if="favoritePraysList.favoritePrays.length === 0">
        <div class="alert-dialog-mask"></div>
        <div class="alert-dialog">
            <div class="alert-dialog-container">
                <div class="alert-dialog-content">
                    {{appController.localization.chosen_prays_empty}}
                </div>

                <div class="alert-dialog-footer">
                    <button class="alert-dialog-button alert-dialog-button--primal" ng-click="favoritePraysList.getBack()">OK</button>
                </div>
            </div>
        </div>
    </div>

</ons-page>