<ons-list>
    <ons-list-item ng-if-start="appController.books" class="menu-list-header">
        <i>{{appController.localization.books}}</i>
    </ons-list-item>
    <ons-list-item ng-repeat="book in appController.books | orderBy:'id'" modifier="chevron"
                   ng-click="appController.setMenuParam('selectedBook', book.id); menu._currentPageUrl='';
                   menu.setMainPage('categories-list-page.html', {closeMenu: true})">
        <span class="sliding-menu-item-text">{{book.name}}</span>
    </ons-list-item>

    <ons-list-item ng-if-end="appController.books" class="menu-list-header"></ons-list-item>

    <ons-list-item modifier="chevron" ng-click="menu.setMainPage('favorite-prays-list.html', {closeMenu: true})">
        <span class="sliding-menu-item-text">{{appController.localization.choosen_prays}}</span>
    </ons-list-item>
    <ons-list-item modifier="chevron" ng-click="menu.setMainPage('settings-page.html', {closeMenu: true})">
        <span class="sliding-menu-item-text">{{appController.localization.settings}}</span>
    </ons-list-item>
</ons-list>