<ons-page class="prayitem-list-page" ng-controller="PraysListController">
    <ons-toolbar>
        <div class="left"><ons-back-button>Назад</ons-back-button></div>
        <div class="center navigation-bar-text">{{category.name}}</div>
    </ons-toolbar>
    <ons-row class="category-info" modifier="inset" style="margin-top: 10px">
        <ons-col width="60px">
            <div class="item-thum"></div>
        </ons-col>
        <ons-col>
            <header>
                <ons-row>
                    <span class="item-title">{{category.name}}</span>
                </ons-row>
                <ons-row>
                    <span class="item-label">Молитов: {{prays.length}}</span>
                </ons-row>
            </header>
        </ons-col>
    </ons-row>
    <ons-row ng-if="!isReady">
        <div class="progress-bar progress-bar--indeterminate"></div>
    </ons-row>

    <ons-list style="margin-top: 10px">
        <ons-list-item class="list-row" ng-repeat="prayItem in prays">
            <ons-row>
                <label class="checkbox checkbox--list-item">
                    <input type="checkbox" class="checkbox__input">
                    <div class="checkbox__checkmark
        checkbox--list-item__checkmark"></div>
                </label>
                <ons-col ng-click="showPrayItem(prayItem)" style="margin-left: 10px">
                    <header>
                        <span class="item-title">{{prayItem.name}}</span>
                    </header>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>
    <br>
</ons-page>