<ons-toolbar>
    <div class="left">
        <ons-toolbar-button ng-click="menu.toggleMenu()">
            <ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon>
        </ons-toolbar-button>
    </div>
    <div class="center navigation-bar-text">Налаштування</div>
</ons-toolbar>
<ons-list class="settings-page-sections-list" ng-controller="SettingsPageController">
    <ons-list-item>
        <ons-row>
            <ons-row class="settings-page-section-row">
                <ons-col class="setting-name">
                    <header>Хто я:</header>
                </ons-col>
                <ons-col>
                    <div class="button-bar" style="width:280px;">
                        <div class="button-bar__item">
                            <input type="radio"
                                   ng-model="religion"
                                   value="catholic"
                                   ng-change="saveReligion(religion)">
                            <button class="button-bar__button">Католик</button>
                        </div>
                        <div class="button-bar__item">
                            <input type="radio"
                                   ng-model="religion"
                                   value="greek-catholic"
                                   ng-change="saveReligion(religion)">
                            <button class="button-bar__button">Греко-Католик</button>
                        </div>
                    </div>
                </ons-col>
            </ons-row>
        </ons-row>
    </ons-list-item>
    <ons-list-item>
        <ons-row>
            <ons-row class="settings-page-section-row">
                <ons-col class="setting-name">
                    <header>
                        Мова молитов:
                    </header>
                </ons-col>
                <ons-col>
                    <div class="button-bar" style="width:280px;">
                        <div class="button-bar__item">
                            <input type="radio" ng-model="language" value="UA" ng-change="saveLanguage(language)">
                            <button class="button-bar__button">Україньска</button>
                        </div>

                        <div class="button-bar__item">
                            <input type="radio" ng-model="language" value="EN" ng-change="saveLanguage(language)">
                            <button class="button-bar__button">English</button>
                        </div>

                        <div class="button-bar__item">
                            <input type="radio" ng-model="language" value="PL" ng-change="saveLanguage(language)">
                            <button class="button-bar__button">Polski</button>
                        </div>
                    </div>
                </ons-col>
            </ons-row>
        </ons-row>
    </ons-list-item>
    <ons-list-item>
        <ons-row>
            <ons-row class="settings-page-sections-list">
                <ons-col class="setting-name">
                    <span>Розмір тексту</span>
                </ons-col>
                <ons-col>
                    <ons-range ng-model="scaling" ng-change="saveScaling(scaling)" modifier="material" value="70"></range>
                </ons-col>
            </ons-row>
            <ons-row class="settings-page-sections-list">
                <ons-row>
                    <ons-col>
                        <span>Заголовок молитви:</span>
                    </ons-col>
                    <ons-col>
                        <span class="item-title">Молитва: Отче Наш</span>
                    </ons-col>
                </ons-row>
                <ons-row>
                    <ons-col>
                        <span>Текст молитви:</span>
                    </ons-col>
                    <ons-col>
                        <span class="pray-context-text">Молитва: Отче наш, що є на небесах!...</span>
                    </ons-col>
                </ons-row>
            </ons-row>
        </ons-row>

    </ons-list-item>
    <ons-list-item>
        <button class="button button--material" ng-click="saveSettings()">Зберегти</button>
    </ons-list-item>
</ons-list>

