.body-margin-top {
    margin-top: 0px;
}

.list-row {
    min-height: 48px;
    padding: 6px;
    line-height: 1;
}

.item-thum {
    background: url('../img/48x48/ic_launcher.png') 0 0;
    width: 48px;
    height: 48px;
    border-radius: 4px;
}

.item-title {
    font-size: 16px;
    font-weight: 500;
}

.item-desc {
    font-size: 16px;
    color: #666;
    line-height: 1.3;
    margin: 4px 0 0 0;
    padding: 0 30px 0 0;
}

.item-label {
    font-size: 12px;
    margin-right: 10px;
    color: #999;
    float: right;
}

.category-info .item-label {
    font-size: 12px;
    margin-right: 10px;
    color: #998280;
}

.text-content-block {
    white-space: pre-wrap;
    text-align: justify;
}

.categories-list .item-label {
    width: 50%;
}

.categories-list .item-label span{
    width: 100%;
    text-align: right;
    margin-right: 15px;
}

.settings-page-sections-list ons-list-item {
    padding-bottom: 10px;
    padding-top: 10px;
}

.settings-page-section-row {
    padding-bottom: 8px;
}

.settings-page-sections-list .button-bar__button {
    height: 40px;
}

.setting-name {
    font-size: 22px;
}

ons-list-item.menu-list-header {
    background-color: #f9f9f9;
}

.menu-icon {
    color: #0076ff;
}

.right .menu-icon {
    margin-right: 20px;
}

.ons-dialog-container {
    /*top, right, bottom, left*/
    padding: 10px 10px 3px;
}

.ons-dialog-body-container {
    padding: 10px;
}

.external-link-icon_ds {
    background: url('../img/48x48/ds_ico.png') 0 0;
    width: 48px;
    height: 48px;
    border-radius: 4px;
}
.external-link-icon_fb {
    background: url('../img/48x48/facebook_ico.png') 0 0;
    width: 48px;
    height: 48px;
    border-radius: 4px;
}